In [1]:
#Import necessary libraries
import numpy as np
import pandas as pd

In [3]:
#Load data, low_memory = False added to alleviate DtypeWarning: Columns (3,4,5,6,12) have mixed types.
salaries = pd.read_csv("Salaries.csv", low_memory=False)

In [17]:
#1.  What is the highest amount of OvertimePay in the dataset ? 
#First, data must be cleaned to remove rows with the "Not Provided" value
salaries.drop(salaries[salaries['OvertimePay'] == "Not Provided"].index, inplace = True)

In [18]:
#Convert the data in the row to floats
salaries['OvertimePay'] = pd.to_numeric(salaries.OvertimePay)

In [19]:
#Return the maximum value of the OvertimePay column.
salaries.OvertimePay.max()

245131.88

In [22]:
#2. What is the job title of JOSEPH DRISCOLL ? 
salaries2=salaries.loc[salaries['EmployeeName'] == "JOSEPH DRISCOLL", 'JobTitle']
print(salaries2)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [27]:
#3. What is the name of highest paid person (including benefits)?
salaries.loc[salaries.TotalPayBenefits == salaries.TotalPayBenefits.max(), 'EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [30]:
#4. What was the average (mean) BasePay of all employees per year? 
#Convert the data in the row to floats
salaries['BasePay'] = pd.to_numeric(salaries.BasePay)
#Calculate mean of BasePay column, grouped by value in Year column
meanresult = salaries.groupby('Year')['BasePay'].mean()
print(meanresult)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [32]:
#5.What are the top 5 most common jobs?
salaries.JobTitle.value_counts().nlargest(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [47]:
#6.How many people have the word Chief in their job title? 
salaries.JobTitle.str.contains('chief',case=False).sum()

627