In [1]:
#Run the following code to load Titanic dataset
#Import necessary packages
import ssl
import numpy as np
import pandas as pd
import seaborn as sns

#Allows us to download data secured with an SSL certificate
ssl._create_default_https_context = ssl._create_unverified_context

#Load the data
titanic = sns.load_dataset('titanic')

#Preview the first few lines of the data
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
#1. How many female passengers did not survive (regardless of their class)?
#For survived, 0 = No, 1 = Yes
#Define a function that returns the sum where sex is female, survived is 0
def f_survived(titanic):
    return((titanic['sex'] == 'female') & (titanic['survived'] == 0)).sum( )

#Print the answer
print("The number of female passengers that did not survive, regardless of their class, are: ", f_survived(titanic))

The number of female passengers that did not survive, regardless of their class, are:  81

In [3]:
#2. How many first class female passengers did not survive?
#pclass is ticket class, 1 is first class
#Define a function that returns the sum where sex is female, survived is 0, pclass is 1
def f_1_survived(titanic):
    return((titanic['sex'] == 'female') & (titanic['survived'] == 0) & (titanic['pclass'] == 1)).sum( )

#Print the answer
print("The number of first class female passengers that did not survive are: ", f_1_survived(titanic))

The number of first class female passengers that did not survive are:  3

In [4]:
#3. How many male passengers did not survive (regardless of their class)?
#Define a function that returns the sum where sex is male and survived is 0
def m_survived(titanic):
    return((titanic['sex'] == 'male') & (titanic['survived'] == 0)).sum( )

#Print the answer
print("The number of male passengers that did not survive, regardless of their class, are: ", m_survived(titanic))

The number of male passengers that did not survive, regardless of their class, are:  468

In [5]:
#4. How many third class male passengers did not survive?
#pclass is ticket class, 3 is third class
#Define a function that returns the sum where sex is male, survived is 0, and pclass is 3
def m_3_survived(titanic):
    return((titanic['sex'] == 'male') & (titanic['survived'] == 0) & (titanic['pclass'] == 3)).sum( )

#Print the answer
print("The number of third class male passengers that did not survive are: ", m_3_survived(titanic))

The number of third class male passengers that did not survive are:  300

In [6]:
#5. How many passengers were there per deck?
#Add Unknown category to replace NaN deck values
titanic.deck = titanic.deck.cat.add_categories("Unknown")
#Replace null deck values
titanic.deck.fillna('Unknown', inplace=True)

In [7]:
#Group by deck, use size to retrieve number of entries
titanic.groupby(["deck"]).size()

deck
A           15
B           47
C           59
D           33
E           32
F           13
G            4
Unknown    688
dtype: int64

In [8]:
#6. How many passengers (absolute number) in Deck E survived and what was the breakdown (in Deck E) per class?
#Define a function that returns the sum of surviving passengers from deck E
def d_e_survived(titanic):
    return((titanic['survived'] == 1) & (titanic['deck'] == 'E')).sum( )

#Print the answer
print("The number of passengers that survived from deck E are: ", d_e_survived(titanic))

The number of passengers that survived from deck E are:  24

In [10]:
#Define a function that returns the sum of surviving passengers from deck E for first class
def d_e_1_survived(titanic):
    return((titanic['survived'] == 1) & (titanic['deck'] == 'E') & (titanic['pclass'] == 1)).sum( )

#Define a function that returns the sum of surviving passengers from deck E for second class
def d_e_2_survived(titanic):
    return((titanic['survived'] == 1) & (titanic['deck'] == 'E') & (titanic['pclass'] == 2)).sum( )

#Define a function that returns the sum of surviving passengers from deck E for third class
def d_e_3_survived(titanic):
    return((titanic['survived'] == 1) & (titanic['deck'] == 'E') & (titanic['pclass'] == 3)).sum( )

#Print the answers
print("The number of first class passengers that survived from deck E are: ", d_e_1_survived(titanic))
print("The number of second class passengers that survived from deck E are: ", d_e_2_survived(titanic))
print("The number of third class passengers that survived from deck E are: ", d_e_3_survived(titanic))

The number of first class passengers that survived from deck E are:  18
The number of second class passengers that survived from deck E are:  3
The number of third class passengers that survived from deck E are:  3